node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

KHALTI_BACKEND_TESTING.md

KHALTI_INTEGRATION.md

KHALTI_TESTING_GUIDE.md

POSTMAN_TESTING_GUIDE.md